@model CRUDApp.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <!-- MetisMenu CSS -->

    <link href="~/Content/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="~/Content/css/startmin.css" rel="stylesheet" />
    <!-- Custom Fonts -->

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("LogIn", "Home", FormMethod.Post))
                        {

                            <fieldset>
                                <div class="form-group">
                                    <div>@TempData["email"] @TempData["passwrong"] </div>
                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "E-mail", @required = "required" })
                                    <i class="text-danger">@Html.ValidationMessageFor(m => m.email)</i>
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                                    <i class="text-danger">@Html.ValidationMessageFor(m => m.password)</i>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/js/startmin.js"></script>
</body>
</html>

